/* Theme paragraphs with CSS
[ ] Theme header tags with CSS
[ ] Theme images and images captions with CSS
[ ] Change the colour scheme to something aesthetically pleasing
[ ] Apply 1 CSS file to 3 gutenberg documents.
[ ] Include all 3 gutenberg documents HTML and assets, with the CSS applied.
[ ] document in your README what modifications you had to make to the project gutenberg HTML files.
[ ] Take 3 screenshots of firefox running all of your pages that demonstrates your theme.
*/
p {
    margin-top: 1em;
    margin-bottom: 0.75em;
    text-indent: 1em;
    text-align: justify;
    }
h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 1em;
}
h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
h3 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
h5 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

table {
    margin-left: auto;
    margin-right: auto;
    line-height: 180%
    }
body {
    margin-left: 10%;
    margin-right: 10%;
    /* background-color: #FAF3E0; */
    background-color: #F9F3DF
    }
.information {
    background-color: #F5E8C7;
    /* background-color: #F9E4C8; */
    margin-left: 15%;
    margin-right: 15%;
    height:auto;
    text-align: center;
    color:#532E1C;
    padding-top: 10em;
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 10em;
}
.info-box {
    margin-left: 15%;
    margin-right: 15%;
    height:auto;
    text-align: center;
}
.page-break {
    padding: 60px;
}
.poem{
    font-style: italic;
    text-align: center;
}
.book {
    text-align: center;
    color: #532E1C;
    font-size: large;
    font-weight: bolder;
}
a:link {
    text-decoration: none;
    color: #104E8B;
    background-color: inherit
    }
a:visited {
    text-decoration: none;
    color: #8B0000;
    background-color: inherit
    }
a:hover {
    text-decoration: underline
    }
a:active {
    text-decoration: underline
    }
.image{
    width: 100%;
}
.figure {
    display: block;
    margin: 0 auto;
    text-align:center;
    width: 60%;
}
.start {
    text-align: center;
    background-color: #B4846C;
    color: white;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 1em;
}
.start-title {
    padding-top: 400px;
    padding-bottom: 400px;
}
.letter{
    text-indent: 0%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1em;
    margin-bottom: 1em
}
.small-font {
    font-size: 50%
    }
div.c3 {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    text-indent: -2em;
    color:#532E1C;
    font-weight: bolder;
    }
div.c2 {
    display: block;
    margin: 2em 4em;
    text-align: center;
    }
div.c1 {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #532E1C;
    }