/* Theme paragraphs with CSS
[ ] Theme header tags with CSS
[ ] Theme images and images captions with CSS
[ ] Change the colour scheme to something aesthetically pleasing
[ ] Apply 1 CSS file to 3 gutenberg documents.
[ ] Include all 3 gutenberg documents HTML and assets, with the CSS applied.
[ ] document in your README what modifications you had to make to the project gutenberg HTML files.
[ ] Take 3 screenshots of firefox running all of your pages that demonstrates your theme.
*/
p {
    margin-top: 0.75em;
    text-align: justify;
    margin-bottom: 0.75em;
    text-indent: 1em
    }
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    /* all headings centered */
    clear: both
    }
table {
    margin-left: auto;
    margin-right: auto;
    line-height: 180%
    }
td.leftalign {
    padding-right: 4em;
    text-align: left;
    padding-left: 1em
    }
td.rightalign {
    text-align: right
    }
body {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #FCDEC0;
    }
.information {
    background-color: #DEBA9D;
    margin-left: 15%;
    margin-right: 15%;
    height:auto;
    text-align: center;
    color:#532E1C;
    padding: 30px;
}
.info-box {
    margin-left: 15%;
    margin-right: 15%;
    height:auto;
    text-align: left;
}
.page-break {
    padding: 60px;
}
p.publisher {
    margin-top: 4em;
    text-align: center;
    font-size: smaller;
    margin-bottom: 3em;
    text-indent: 0;
    letter-spacing: 0.15ex
    }
p.copyright {
    margin-top: 6em;
    text-align: center;
    font-size: 70%;
    margin-bottom: 3em;
    text-indent: 0;
    line-height: 150%
    }
div.note {
    margin: 4em 10% 0 10%;
    padding: 1em;
    border: 1px dashed black;
    color: inherit;
    background-color: #F0F8FF;
    font-size: smaller
    }
div.initial {
    float: left;
    clear: both;
    padding-top: 0;
    padding-right: 0.3em;
    background-color: #FCDEC0;
    }
span.firstwords {
    text-transform: uppercase
    }
img {
    border-style: none
    }
div.backright {
    background: top right no-repeat
    }
div.backleft {
    background: top left no-repeat
    }
div.sandbag-left {
    float: left;
    clear: left;
    padding-right: 10px
    }
div.sandbag {
    float: right;
    clear: right;
    padding-left: 10px
    }
ul {
    list-style: none;
    line-height: 150%
    }
.pagenum {
    /* uncomment the next line for invisible page numbers */
    /*  visibility: hidden;  */
    position: absolute;
    right: 1%;
    font-size: x-small;
    text-align: right;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0;
    text-indent: 0
    }
a:link {
    text-decoration: none;
    color: #104E8B;
    background-color: inherit
    }
a:visited {
    text-decoration: none;
    color: #8B0000;
    background-color: inherit
    }
a:hover {
    text-decoration: underline
    }
a:active {
    text-decoration: underline
    }
.bbox {
    border: solid 1px;
    margin-left: 20%;
    margin-right: 20%
    }
.center {
    text-align: center;
    text-indent: 0
    }
.smcap {
    font-variant: small-caps
    }
.figcenter {
    margin: auto;
    text-align: center;
    text-indent: 0
    }
.figleft {
    float: left;
    clear: left;
    margin-left: 0;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-right: 1em;
    padding: 0;
    text-align: center
    }
.figright {
    float: right;
    clear: right;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-right: 0;
    padding: 0;
    text-align: center
    }
div.footnote p {
    text-indent: 0
    }
.footnotes {
    border: dotted 1px;
    padding-bottom: 1em;
    margin-top: 2em
    }
.footnote {
    margin-left: 10%;
    margin-right: 10%;
    font-size: smaller
    }
.footnote .label {
    position: absolute;
    right: 84%;
    text-align: right
    }
.fnanchor {
    vertical-align: baseline;
    font-size: 80%;
    position: relative;
    top: -0.4em
    }
div.c43 {
    text-align: left
    }
div.c42 {
    margin-left: 0.7em
    }
div.c41 {
    text-indent: -0.7em
    }
div.c40 {
    display: block;
    font-size: 1.1em;
    margin: 1em 0;
    font-weight: bold
    }
div.c39 {
    margin: 0.83em 0;
    font-size: 1.1em;
    text-align: center
    }
span.c38 {
    font-size: smaller
    }
div.c37 {
    display: block;
    margin-top: 4em
    }
p.c36 {
    padding-top: 2em;
    font-size: 60%;
    text-indent: 0
    }
div.c35 {
    width: 150px;
    padding-top: 4em
    }
div.c34 {
    background-image: url(images/illu_289.jpg);
    height: 100%
    }
div.c33 {
    width: 290px;
    height: 120px
    }
div.c32 {
    width: 400px;
    height: 170px
    }
div.c31 {
    background-image: url(images/illu_172.jpg);
    height: 100%
    }
div.c30 {
    width: 355px;
    height: 250px
    }
div.c29 {
    width: 280px;
    height: 150px
    }
div.c28 {
    width: 200px
    }
div.c27 {
    width: 164px
    }
div.c26 {
    background-image: url(images/illu_078.jpg);
    height: 100%
    }
div.c25 {
    width: 245px;
    height: 230px
    }
div.c24 {
    width: 300px;
    height: 170px
    }
div.c23 {
    background-image: url(images/illu_057.jpg);
    height: 100%
    }
div.c22 {
    width: 185px;
    height: 125px
    }
div.c21 {
    width: 500px;
    height: 269px
    }
div.c20 {
    width: 300px;
    padding-top: 1em
    }
div.c19 {
    width: 400px;
    padding-top: 1em
    }
p.c18 {
    padding-top: 2em
    }
p.c17 {
    font-size: 90%
    }
div.c16 {
    width: 150px;
    padding-top: 2em
    }
td.c15 {
    text-align: center
    }
span.c14 {
    font-size: 80%
    }
p.c13 {
    text-indent: 0
    }
div.c12 {
    width: 70px
    }
div.c11 {
    width: 400px;
    padding-top: 4em
    }
div.c10 {
    width: 100px
    }
p.c9 {
    padding-bottom: 4em
    }
p.c8 {
    font-size: 120%;
    padding-bottom: 2em
    }
p.c7 {
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 80%
    }
span.c6 {
    font-size: 50%
    }
div.c5 {
    margin-top: 2em;
    margin-bottom: 4em;
    text-align: center;
    }
div.c4 {
    display: block;
    margin-left: 2em;
    text-indent: -2em
    }
div.c3 {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    text-indent: -2em;
    color:#532E1C;
    font-weight: bolder;
    }
div.c2 {
    display: block;
    margin: 1em 0;
    }
div.c1 {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    /* color: #7D5A50 */
    color: #532E1C;
    }